* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lekcija {
    width: 80vw;
    height: 785px;
    background-color: #b4b4b4;
    margin-left: 10vw ;
    display: flex;
    flex-direction: row;
}

.slika {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    border: 2px solid #000;
}

.opisKomponente {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'ABeeZee', sans-serif;
}   

.opisKomponente h3 {
    margin-bottom: 50px;
    font-family: 'ABeeZee', sans-serif;
}