* {
    margin: 0;
    padding: 0;
}



nav {
    width: 100%;
    height: 100px;
    background-color: #F2F4F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(127, 154, 170, 0.4);
    z-index: 100;
}

.navbarlogo img {
    width: 150px;
    height: 50px;
    margin-left: 10vw;
}

.navbarMenu li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

.navbarMenu ul {
    list-style-type: none;
    margin-right: 10vw;
    animation: slide 0.5s;
}

.navbarMenu a {
    text-decoration: none;
    color: #000;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bolder;
    padding: 10px;

}




#onama {
    padding-right: 0px;
}

.navbarMenu i {
    display: none;
    margin-right: 10vw;
}

@media only screen and (max-width:600px) {

    .navbarMenu ul {
        display: none;
    }

    .navbarMenu i {
        display: block;
    }

}

.navbarMenu ul.show {

    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(127, 154, 170, 0.4);

}

@keyframes slide {
    from {
        height: 0%;
    }

    to {
        height: 100px;
    }
}

.homeContent {
    width: 100%;
    height: 485px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan {
    margin-left: 10vw;
}

.slogan h1 {
    font-size: 36px;
    font-family: 'ABeeZee', sans-serif;
}

.opcije-tekst {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 10vw;
}

.opcije-tekst button {
    margin-top: 30px;
    outline: none;
    border: none;
    background-color: #254286;
    box-shadow: 8px 8px rgba(227, 155, 47, 1);
    color: #fff;
    font-family: 'ABeeZee', sans-serif;
    letter-spacing: 2px;
}

.opcije-tekst p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

#getStarted {
    width: 160px;
    height: 50px;
    cursor: pointer;
    transition: 0.15s;
}

#getStarted:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.15s;
}



.banner {
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.footer {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:is(:link, :active, :visited).active {
    background-color: #254286;
    box-shadow: 6px 6px rgba(227, 155, 47, 1);
    color: #fff;
}

.footer p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 14px;
}

.footer i {
    margin-left: 10px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.fa-brands, .fa-solid { 
    font-size: 22px;
}


#popupOnama { 
    height:100vh;        
    width: 100%;
    background-color: red;
    position: fixed;
    z-index: 500;
    overflow: auto;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: none;

}
.close {
    color: #fff;
    font-size: 34px;
    margin-right: 30px;
}

.popupContent {
    width: 70%;
    height: 80%;
    background-color: #254286;
    border-radius: 30px;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2s);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}   

.header { 
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;

}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.omeniMreze {
    width: 50%;
    height: 100%;
}
.omeni {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
}

.omeni p {
    text-wrap: wrap;

}
.mreze {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.mreze button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'ABeeZee', sans-serif;
    margin: 10px;
    margin-right: 100px;
    background-color: #fff;
    border: 2px solid #000;
}

.mreze button a{
    text-decoration: none;
    color: #000;
}

#email {
    font-size: 20px;
}
#ig {
    margin-top: 70px;
}

.mojaslika {
    width: 50%;
    height: 93.4%;

}
